apiVersion: v1
kind: Service
metadata:
  name: gitops-controller
  namespace: default
  labels:
    app: gitops-controller
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8082
    protocol: TCP
    name: http
  selector:
    app: gitops-controller
