name: Nix Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-github:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: Build with Nix
      run: nix build
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and Push Docker Image
      run: |
        nix build .#dockerImage
        docker load < result
        docker push taiwrash/kgh:latest

  build-self-hosted:
    runs-on: [self-hosted, nixos]
    steps:
    - uses: actions/checkout@v4
    - name: Build with Nix
      run: nix build
